
<div class="heading">

   
    
    <h1>About Us</h1>
    
    <p>Coffee is a beloved beverage enjoyed by millions worldwide for its bold flavor, rich aroma, and comforting warmth </p>
</div>
    
  <div class="container">
    
  <section class="about">
    
   
  <div class="about-image">
    <img src="https://images.pexels.com/photos/266755/pexels-photo-266755.jpeg?auto=compress&cs=tinysrgb&w=600"> 
    </div>
    <div class="about-content">
      <h2>Warm Embrace in a Cup</h2>
      <p>Coffee, the beloved beverage enjoyed by millions worldwide, is known for its bold flavor, rich aroma, 
        and ability to provide a comforting warmth in every sip. It's often considered an essential morning pick-me-up, 
        but can be enjoyed at any time of day. Whether sipping alone or with company, coffee provides the perfect 
        accompaniment to conversation and socializing.</p>
        <a href="#" class="read-more">Read More</a>
    </div>
   </section>
   </div>